@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  body{
    @apply font-sans;
  }
  li{
    @apply cursor-pointer
  }
}

.todo-bg{
  background-image: url('./assets/To-Do-List-Background.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}